{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold text-left text-gray-800 my-4">Log in</h1>
<form method="post" class="max-w-md">
    {% if error %}
        <div class="bg-red-500 text-white font-bold rounded-lg border border-red-700 p-4">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div>
        <label for="inputEmail" class="block font-semibold">Email</label>
        <div class="mt-1">
            <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2" required autofocus>
        </div>
    </div>


    <div>
        <label for="inputPassword" class="block font-semibold">Password</label>
        <div class="mt-1">
            <input type="password" name="password" id="inputPassword" class="bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2" autocomplete="current-password" required>
        </div>
    </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div>
        <button class="flex flex-no-wrap mt-6 border-2 border-black bg-yellow-500 py-2 px-4">
            <span>{{ button_label|default('Sign in') }}</span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 w-6 h-6"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </span>
        </button>

    </div>

</form>
{% endblock %}
