{% extends 'base.html.twig' %}

{% block title %}ProductVariant index{% endblock %}

{% block body %}
    <h1>Product Variants</h1>

    <a href="{{ path('app_admin') }}" class="inline-flex items-center text-gray-600 hover:text-gray-800 font-semibold p-4">
        <i class="fas fa-arrow-left mr-2"></i>
        Back
    </a>

    <div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">
        <table class="sw-full table-fixed">
            <thead>
                <tr>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Product</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Sku</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">CreatedAt</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">UpdatedAt</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Quantity</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Price</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Thumbnail</th>
                    <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">actions</th>
                </tr>
            </thead>
            <tbody class="bg-white">
            {% for variant in product_variants %}
                <tr>
                    <td class="py-4 px-6 border-b border-gray-200">
                        {% if variant.mainImage is not null %}
                            <img src="{{ variant.mainImage }}" alt=" {{ variant.sku }}" />
                        {% else %}
                            <p>no thumbnail</p>
                        {% endif %}
                    </td>
                    <td class="py-4 px-6 border-b border-gray-200">{{ variant.sku }}</td>
                    <td class="py-4 px-6 border-b border-gray-200">{{ variant.createdAt ? variant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="py-4 px-6 border-b border-gray-200">{{ variant.updatedAt ? variant.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td class="py-4 px-6 border-b border-gray-200">{{ variant.quantity }}</td>
                    <td class="py-4 px-6 border-b border-gray-200">{{ variant.price }}</td>

                    <td class="py-4 px-6 border-b border-gray-200">
                        {% if variant.thumbnail is not null %}
                        <img src="{{ variant.thumbnail }}" alt=" {{ variant.sku }}" />
                        {% else %}
                            <p>no thumbnail</p>
                        {% endif %}
                    </td>
                    <td class="py-4 px-6 border-b border-gray-200">


                        <div class="flex space-x-4">
                            <a href="{{ path('app_product_variant_edit', {'id': variant.id}) }}" class="p-2 rounded-full group transition-all duration-500 flex items-center">
                                <i class="fas fa-solid fa-pen-to-square"></i>
                            </a>
                            <a href="{{ path('app_product_variant_show', {'id': variant.id}) }}" class="p-2 rounded-full group transition-all duration-500 flex items-center">
                                <i class="fas fa-solid fa-folder-open"></i>
                            </a>
                        </div>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ path('app_product_variant_new') }}">Create new</a>
{% endblock %}
