{% extends 'base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}

   <div class="grid grid-cols-2 gap-6 p-6 bg-gray-100 border rounded-lg shadow-lg">
        <div class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow hover:shadow-md transition">
            <img src="{{ asset('build/images/noimage.jpeg') }}" alt="Products" class="w-12 h-12">
            <a href="{{ url('app_admin_product_index') }}"><span class="text-lg font-semibold text-gray-700">Products</span></a>
        </div>
        <div class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow hover:shadow-md transition">
            <img src="{{ asset('build/images/noimage.jpeg') }}" alt="Variants" class="w-12 h-12">
            <a href="{{ url('app_product_variant_index') }}"><span class="text-lg font-semibold text-gray-700">Variants</span></a>
        </div>
        <div class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow hover:shadow-md transition">
            <img src="{{ asset('build/images/noimage.jpeg') }}" alt="Product Options" class="w-12 h-12">
            <a href="{{ url('app_product_option_index') }}"><span class="text-lg font-semibold text-gray-700">Product Options</span></a>
        </div>
        <div class="flex items-center space-x-4 p-4 bg-white rounded-lg shadow hover:shadow-md transition">
            <img src="{{ asset('build/images/noimage.jpeg') }}" alt="Customers" class="w-12 h-12">
            <a href="#"><span class="text-lg font-semibold text-gray-700">Customers</span></a>
        </div>
    </div>
{% endblock %}
