{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}


    <!-- Footer -->
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Sku</th>
                <th>Name</th>
                <th>Slug</th>
                <th>LongDescription</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td> {% if product.mainImage is not null %}
                        <img src="{{ asset(product.imagePath)|imagine_filter('squared_thumbnail_small')  }}" alt="">
                    {% endif %}

                </td>
                <td>{{ product.sku }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.slug }}</td>
                <td>{{ product.longDescription }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">Create new</a>
{% endblock %}
