{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}

    <div {{ react_component('HotProducts') }}>
        <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>



    <div {{ react_component('Product', {product: product|serialize(format = 'json') }) }}>
        <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

    <!-- do not lead individual items here. Call container and loop items -->
    <div {{ react_component('ProductReviewItem') }}>
        <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>

    <a href="{{ path('app_product_index') }}">back to list</a>

    <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
 {% block javascripts %}
     {{ parent() }}
{% endblock %}