<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100">

        <!-- Header -->
        <header class="flex items-center justify-between bg-white p-4 shadow-md">
            <!-- Logo Section -->
            <div class="flex-shrink-0">
                <p><a href="/">Ox commerce</a></p>
            </div>

            <!-- Search Bar Section (Largest Column) -->
            <div class="flex-grow mx-4">
                <div class="relative mx-auto">
                    <form action="{{ path('app_search') }}" method="GET">
                        <label>
                            <input class="w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" type="search" placeholder="Search" name="query" value="{{ query | default('') }}">
                        </label>
                        <button class="absolute inset-y-0 right-0 flex items-center px-4 text-gray-700 bg-gray-100 border border-gray-300 rounded-r-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.795 13.408l5.204 5.204a1 1 0 01-1.414 1.414l-5.204-5.204a7.5 7.5 0 111.414-1.414zM8.5 14A5.5 5.5 0 103 8.5 5.506 5.506 0 008.5 14z"></path>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>

            <!-- Account Section -->
            <div class="flex-shrink-0 mr-4">
                <a href="{{ path('app_account') }}" class="text-gray-600 hover:text-blue-500">Account</a>
            </div>

            <!-- Shopping Cart Section -->
            <div class="flex-shrink-0">
                <a href="{{ path('app_cart_index') }}" class="text-gray-600 hover:text-blue-500 flex items-center">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5H3m4 8l1.6 8h10.8l1.6-8H7z"></path>
                    </svg>
                </a>
            </div>

        </header>
        <!-- Navigation Links Row -->
        <div class="flex justify-center space-x-6 bg-gray-800 p-2">
            <nav class="flex justify-center space-x-4 py-2 text-blue-950">
                <a href="#" class="text-white">Fast Delivery Options</a>
                <a href="#" class="text-white">Buy Again</a>
                <a href="#" class="text-white">Deals of the Day</a>
                <a href="#" class="text-white">Schedule and Save</a>
            </nav>
        </div>


        <main class="container mx-auto">
            <div class="bg-white p-6 rounded-md shadow">
                {% block body %}

                {% endblock %}

            </div>

        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-4">
            <div class="container mx-auto text-center">
                <p>&copy; 2024 Ox Marketplace. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>