<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-gray-100">

        <!-- Header -->
        <header class="shadow bg-gray-800">
            <div class="flex justify-between items-center px-6 py-4">
                <!-- Logo -->
                <div class="flex items-center">
                    <a href="/"> <img src="{{ asset('images/parts/logo.png') }}" alt="Logo" class="h-8"></a>
                </div>
                <!-- Search Bar -->
                <div {{ react_component('Search') }}>
                    Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
                </div>
                <!-- Cart -->
                <div {{ react_component('Minicart') }}>
                    Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
                </div>

            </div>

            <!-- Second Row: Menu -->
            <div class="bg-white bottom-0.5">
                <nav class="flex justify-center space-x-4 py-2 text-blue-950">
                    <a href="#" class="hover:underline">Home</a>
                    <a href="#" class="hover:underline">Shop</a>
                    <a href="#" class="hover:underline">About</a>
                    <a href="#" class="hover:underline">Contact</a>
                </nav>
            </div>
        </header>


        <main class="container mx-auto py-8">
            <div class="bg-white p-6 rounded-md shadow">
                {% block body %}

                {% endblock %}

            </div>

        </main>

        <!-- Footer -->
        <footer class="bg-gray-800 text-white py-4">
            <div class="container mx-auto text-center">
                <p>&copy; 2024 Ox Marketplace. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>