<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {{ form_start(form, { 'attr' : { 'class': 'w-full' } }) }}

    <!-- Left Column (Form Fields) -->
    <div class="p-4">
        <div class="mt-1">
            {{ form_row(form.name, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.sku, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.slug, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.categories, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.merchant, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>
    </div>

    <!-- Right Column (Form Fields) -->
    <div class="p-4">
        <div class="mt-6">
            {{ form_row(form.mainImage, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.price, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div class="mt-6">
            {{ form_row(form.longDescription, {'attr': {'class': 'tinymce-editor bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>


        <div class="mt-6">
            {{ form_row(form.productVariants, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
        </div>

        <div>
            <button class="flex flex-no-wrap mt-6 border-2 border-black bg-yellow-500 py-2 px-4">
                <span>{{ button_label|default('Save') }}</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 w-6 h-6"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                </span>
            </button>
        </div>

        {{form_widget(form._token)}}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
</div>
