<div
        {{ attributes }}
>
    {{ form_start(form, { 'attr' : { 'class': 'max-w-lg' } }) }}
    <div class="grid gap-4">
        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.name, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>

        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.optionType, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>

        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.attributeName, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>

        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.label, {'attr': {'class': 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>
        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.isRequired, {'attr': {'class': 'tinymce-editor bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>
        <div class="mt-6">
            <div class="mt-1">
                {{ form_row(form.displayOrder, {'attr': {'class': 'tinymce-editor bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'} }) }}
            </div>
        </div>

        <div class="mt-6">
            <!-- table -->
            <table class="table mce-item-table">
                <thead>
                <tr>
                    <td>Value</td>
                    <td>Display Order</td>
                </tr>
                </thead>
                <tbody>
                {% for item_form in form.productOptionValues %}
                    <tr>
                        <td>
                            {{ form_row(item_form.attributeValue, {
                                label: false,
                                row_attr: {class: 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'},
                                attr: {
                                    placeholder: 'Type property'
                                }
                            }) }}
                        </td>
                        <td>
                            {{ form_row(item_form.displayOrder, {
                                row_attr: {class: 'bg-white shadow-sm ring-0 block w-full text-lg focus:outline-none focus:border-tan-500 border-tan-300 p-2 border-2'},
                                label: false,
                            }) }}
                        </td>
                        <td>
                            {{ form_widget(item_form.vars.button_delete, {label: 'X', attr: {class: 'bg-red-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline-blue'}}) }}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- /table -->
            {{ form_widget(form.productOptionValues.vars.button_add, {label: '+ Add Item', attr: {class: 'flex flex-no-wrap mt-6 border-2 border-black bg-yellow-500 py-2 px-4'}}) }}

        </div>

        <div>
            <button class="flex flex-no-wrap mt-6 border-2 border-black bg-yellow-500 py-2 px-4">
                <span>{{ button_label|default('Save') }}</span>
                <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="ml-2 w-6 h-6"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </span>
            </button>

        </div>
        {{form_widget(form._token)}}
    </div>





    {{ form_end(form, {'render_rest': false}) }}
</div>
