<h3 class="text-3xl font-bold mb-2">${{ product.price }}</h3>
<div class="flex justify-left">
    <span class="text-xl font-semibold text-green-700">In Stock</span>
</div>

<!-- test symfony form -->
{{ form_start(form, {'action': path('app_cart_add_item', {'id': product.id} )})  }}
<div class="mb-4">
    {{ form_label(form.quantity) }}
    {{ form_widget(form.quantity, { 'attr': { 'class': 'w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500' } }) }}

</div>
<div class="mb-3">
    {{ form_widget(form.addToCart, { 'attr': { 'class': 'w-full py-1.5 bg-yellow-500 text-white font-semibold rounded-md hover:bg-yellow-600 transition duration-200' } }) }}
</div>
{{ form_end(form) }}
<!-- end test symfony form -->