<h4 class="text-l pb-2 hover:underline transition duration-200"><a href="{{ path('app_store_view', { 'slug': product.merchant.slug }) }}">{{ product.merchant.name }}</a></h4>
<h2 class="text-2xl font-bold text-gray-800 dark:text-black mb-2">{{product.name}}</h2>


<div class="flex justify-left mt-4">
    <h3 class="text-3xl font-bold mb-2">${{ product.price }}</h3>
</div>


<p>Variants</p>

<div class=" bg-gray-400 p-4 border border-gray-600">
    {% for variant in product.productVariants %}
        <div class="relative">
            <img src="https://m.media-amazon.com/images/I/413aecE0r2L._SS36_.jpg" alt="Thumbnail">
        </div>
    {% endfor %}

</div>





<p class="text-gray-600 dark:text-black-300 text-sm mb-4 pt-4">
    {{ product.longDescription|raw }}
</p>

<div class="box-decoration-clone md:box-decoration-slice">
   <!-- reserved for variant options -->
</div>