<h4 class="text-l pb-2 hover:underline transition duration-200"><a href="{{ path('app_store_view', { 'slug': product.merchant.slug }) }}">{{ product.merchant.name }}</a></h4>
<h2 class="text-2xl font-bold text-gray-800 dark:text-black mb-2">{{product.name}}</h2>


<div class="flex justify-left mt-4">
    <h3 class="text-3xl font-bold mb-2">${{ product.price }}</h3>
</div>


<p>Variants</p>

<div class="bg-gray-400 p-4 border border-gray-600">
    <div class="flex flex-wrap justify-end gap-4">
        {% for variant in product.productVariants %}
            <div class="flex flex-col items-center">
                <div class="relative">
                    {% if variant.thumbnail %}
                        <img src="{{ variant.thumbnail }}" alt="{{ variant.sku | escape }}" class="w-12 h-12 rounded" loading="lazy">
                    {% else %}
                        <img src="https://m.media-amazon.com/images/I/413aecE0r2L._SS36_.jpg" alt="Default product image" class="w-12 h-12 rounded" loading="lazy">
                    {% endif %}
                </div>
                <span class="text-sm font-medium text-gray-700 mt-2">{{ variant.sku }}</span>
                {% set color_option = null %}
                {% for variantOption in variant.productVariantOptions %}
                    {% if variantOption.productOption.attributeName == "color" %}
                        {% set color_option = variantOption.productOptionValue.attributeValue %}
                        <span class="text-sm text-gray-600">Color: {{ color_option }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="flex">
   <!-- reserved for sizes -->
</div>

<p class="text-gray-600 dark:text-black-300 text-sm mb-4 pt-4">
    {{ product.longDescription|raw }}
</p>

<div class="box-decoration-clone md:box-decoration-slice">
    <!-- reserved for variant options -->
</div>